<mat-slide-toggle 
    color="primary" 
    [checked]="optionsState.latin" 
    (toggleChange)="setNewOption({latin: !optionsState.latin, cyrillic : true})"
>Латиниця</mat-slide-toggle>
<mat-slide-toggle 
    color="primary" 
    [checked]="optionsState.cyrillic" 
    (toggleChange)="setNewOption({cyrillic: !optionsState.cyrillic, latin: true})"
>Кирилиця</mat-slide-toggle>
<mat-slide-toggle 
    color="primary" 
    [checked]="optionsState.numbers" 
    (toggleChange)="setNewOption({numbers: !optionsState.numbers})"
>Цифри</mat-slide-toggle>
<mat-slide-toggle 
    color="primary" 
    [checked]="optionsState.lowercase" 
    (toggleChange)="setNewOption({lowercase: !optionsState.lowercase})"
>Нижній регістр</mat-slide-toggle>
<mat-slide-toggle 
    color="primary" 
    [checked]="optionsState.uppercase" 
    (toggleChange)="setNewOption({uppercase: !optionsState.uppercase})"
>Верхній регістр</mat-slide-toggle>
<mat-slide-toggle 
    color="primary" 
    [checked]="optionsState.specsimbols" 
    (toggleChange)="setNewOption({specsimbols: !optionsState.specsimbols})"
>Спецсимволи</mat-slide-toggle>