:host{
    min-width: 200px;
    
    .content{
        min-width: 200px;
        max-width: 500px;
        
        height: 300px;
        overflow-y: scroll;

        mat-list{
            display: flex;
            flex-direction: column;
            align-items: center;

            mat-list-item{
                font-weight: bold;
            }
            p{
                text-align: justify;
            }
            img{
                width: 100%;
            }

            .two_image{
                display: flex;
                justify-content: space-between;
        
                img{
                    margin: 10px;
                    width: 40%;
                }
            }
            .settings_bar_img{
                width: 40%;
                border: 2px solid black;
            }
        }
    }

    
}