<h1 mat-dialog-title>Інформація</h1>
<div mat-dialog-content class="content">
    <mat-list>
        <mat-list-item>Про програму</mat-list-item>
        <p>Даний програмний продукт являє собою PWA (прогресивний веб-додаток), що дозволяє встановлювати його як нативний додаток на десктопні та мобільні платформи. Програму розроблено з використанням JavaScript фреймворку Angular v12.0.1. Шифрування реалізовано на основі алгоритму RC4.</p>
        <img [src]="cliImage">
        <mat-list-item>Інструкція по установці на Android</mat-list-item>
        <div>
            <ol>
                <li data-outlined="false" class="">Відкрийте браузер Chrome на Android.<img src="//lh3.googleusercontent.com/-20NuyB0WC36P5OvH-HnVwgMQlIRx47n0At3ZLRZuU2UIuXpsDZVhrsFJMW5DQkQVQU=w36-h36" style="width: 18px" alt="Chrome" title="Chrome" data-mime-type="image/png" data-alt-src="//lh3.googleusercontent.com/-20NuyB0WC36P5OvH-HnVwgMQlIRx47n0At3ZLRZuU2UIuXpsDZVhrsFJMW5DQkQVQU"></li>
                <li>Перейдіть на сайт, <a href="https://co0oder.xyz" target="_blank">co0oder.xyz</a>.</li>
                <li>Натисніть <strong>Додати на головний екран</strong>.</li>
                <li>Слідуйте інструкціям на екрані.</li>
          </ol>
          <div class="two_image">
              <img [src]="i3" alt="" srcset="">
              <img [src]="i4" alt="" srcset="">
          </div>
        </div>
        <mat-list-item>Інструкція використання</mat-list-item>
        <p>В програми доволі простий та зручний інтерфейс. На сторінці присутні 3 поля: </p>
        <ul>
            <li>(1) Поле для вводу посилання на рисурс для якого генерується пароль. В дане поле можуть бути введуне посилання на ресурс для якого генерується пароль (http://youtube.com, your_email@gmail.com, co0oder.xyz ...)</li>
            <li>(2) Поле для введення секретного слова довжиною в 16 символів(літери, цифри, спец сивмовли)</li>
            <li>(3) Поле в яке буде внесено результуючий згенерований пароль</li>
        </ul>
        <br/>
        <p>Для того щоб згенерувати пароль потрібно ввести дані та натиснути на кнопку "Генерувати" (4)</p>
        <img [src]="i1" alt="">
        <p>Також є можливість задати параметри генерації. Для цього потрібно натиснути на <mat-icon>settings</mat-icon> в правому верхньому куті сторінки, після чого з'явиться панель налаштувань:</p>
        <img [src]="i2" class="settings_bar_img" alt="">
        <br />
        <ul>
            <li>
                Латиниця - літери латинського алфавіту (abc),
            </li>
            <li>
                Кирилиця - літери кирилиці (абв),
            </li>
            <li>
                Цифри - числа від 0 до 9,
            </li>
            <li>
                Верхній регістр - використання Великих літер
            </li>
            <li>
                Нижній регістр - використання маленьких літер
            </li>
            <li>
                Спецсимволи - #/@!?$...
            </li>  
        </ul>
    </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Закрити</button>
</div>